html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "rubik";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 880px) {
  html {
    font-size: 50%;
  }
}
